@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* font-family: "Rubik", sans-serif; */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFDF8;
    /* background-color: #36110F; */
    /* width: 100%;
    height: 100%; */
    /* background-image: url('cats1.jpg'); */
    /* background-size: 100vw 100vh; */
}

/* main{
    background-color: #FFFDF8;
    width: 50%;
    height: 700px;
} */

header{
    height: 100px;
    width: 100%;
    background-color: #C19A6B;
}

.bottom{
    width: 100%;
    height: 100px;
    background-color: #C19A6B;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 70px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.account-login{
    height: 20px;
    width: 4%;
    background-color: #523000;
    color: white;
    border-radius: 7px;
}

.account{
    height: 25px;
    width: 100px;
    background-color: #523000;
    color: white;
    border-radius: 7px;
}


/* .check{
    width: 99%;
    background-color: #DFBB90;
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    margin: auto;
    margin-top: 20px;
    padding: 7px;
} */

.check{
    /* margin-top: 10px; */
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px #38121094 solid;
}



.check-check{
    display: flex;
    /* padding: 10px; */
}

.check-check label{
    margin-right: 30px;
}

.form-check{
    width: 35%;
    background-color: #DFBB90;
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    /* margin-right: 1235px; */
    /* display: flex;
    justify-content: left;
    align-content: space-between; */
}

.form-check p{
    font-weight: 500;
    font-size: 22px;
}

.check label{
    display: block;
}

.check input{
    margin-top: 5px;
}

.result{
    height: 40px;
    width: 20%;
    /* margin-left: 0.5%; */
    margin-top: 15px;
    background-color: #523000;
    border-radius: 10px;
    color: white;
    margin-left: 32.5%;
    /* border: 0; */
}

button{
    border: 0;
}

#home{
    color: #36110F;
    text-decoration-line: none;
}

#library{
    color: white;
    text-decoration-line: none;
}

.page{
    width: 120px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.base{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-account{
    width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.whatsapp img{
    width: 55px;
}

.telegram img{
    width: 70px;

}

.whatsapp{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.telegram{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.contact{
    height: 100px;
}

.cats img{
    height: 120px;
    border-radius: 20px;
}

.cats{
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.description{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}
h2{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.form-check .check:last-child{
    border: 0
}

#sing_up{
    color: white;
    text-decoration-line: none;
}






