<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sing-up</title>
    <link rel="stylesheet" href="sing-up.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="base">
                <img src="" alt="лого">
                <h1>meow.select — sing-up</h1>
            </div>
            <div class="page">
                <p class="page1 page-home"><a href="{{url_for('index')}}" id="home">Home</a></p>
                <p class="page1 page-library"><a href="" id="library">Library</a></p>
            </div>
        </div>
    </header>
    <main>
        <h2>Create your account</h2>
        <div class="form-registration">
            <div class="form-login form">
                <p>Username:</p>
                <div class="form-form">
                    <form action="">
                <label class="login-label" for="text-login">
                    <input class="login-input" type="text" id="text-login" name="login" placeholder="Username">
                </label>
                </form>
            </div>
            </div>
            <div class="form-email form">
                <p>E-mail:</p>
                <div class="form-form">
                    <form action="">
                <label class="email-label" for="email-login">
                    <input class="email-input" type="email" id="email-login" name="email" placeholder="Email">
                </label>
                </form>
            </div>
            </div>
            <div class="form-password form">
                <p>Password:</p>
                <div class="form-form">
                    <form action="">
                <label class="password-label" for="password-login">
                    <input class="password-input" type="password" id="password-login" name="password" placeholder="Password">
                </label>
                </form>
            </div>
            </div>
        </div>
        <button>Create account</button>
    </main>
    <div class="bottom">
        <div class="information">
            <p>"meow.select" by ndk</p>
        </div>
        <div class="cats">
            <img src="../static/img/котик на батарее.jpg" alt="">
            <img src="../static/img/котики на барабанах.jpg" alt="">
            <img src="../static/img/котики на окне.jpg" alt="">
        </div>
        <div class="contact">
            <p>Контакты</p>
            <div class="whatsapp">
                <p>Whatsapp</p>
                <img src="../static/img/whatsapp-logo.png" alt="лого ватсапа">
            </div>
            <div class="telegram">
                <p>Telegram</p>
                <img src="../static/img/telegram-logo.png" alt="">
            </div>
        </div>
    </div>

</body>
</html>